body {
    background: #784242 url(../pacote-d013/imagens/fundo-madeira.jpg) center center/cover no-repeat fixed;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

nav a {
    padding: 10px 10px 0px 0px;
    display: block;
    
}

nav a img {
    border-radius: 30px;
    width: 50px;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lefted {
    position: absolute;
    top: 1%;
    right: 1%;
}

.phone-image {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.phone-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.5%);
    width: 265px;
    height: 470px;
    z-index: 2;
    border: none;
    background-repeat: no-repeat;
}

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */